# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
dl_env/
venv/
env/

# IDE
.idea/
.vscode/

# Dataset
dataset/

# Models
saved_models/
*.h5
*.keras
*.pkl

!potato_model.keras

# OS
.DS_Store
Thumbs.db

# Logs
*.log